.wrapper {
    display: flex;
}

.courses {
    width: 50%;
    border-right: 1px solid #ccc;
    min-height: 500px;

}

.handle-crud {
    width: 50%;
    min-height: 500px;

}

.title-courses,
.title-handle-crud {
    text-align: center;
}

ul {}

li {
    list-style: none;
}