.wrapper {}

.courses {
    width: 50%;
    border-right: 1px solid #ccc;
    height: 500px;

}

.handle-crud {
    width: 50%;
    height: 500px;

}

.title-courses,
.title-handle-crud {
    text-align: center;
}